.add {
  /* text-align: center;
  width: 36px;
  height: 263px;
  background-color: #FD966B;
  color: #e1581e;
  margin: 22px 10px 0px 22px;
  border-radius: 7px; */
  padding-top: 125px;
  padding-left: 15px;
}
.add_icon{
  /* display: inline-block;
  margin-top: 110px; */
  background-color: #ffffff85;
  color: chocolate;
  padding: 10px;
  border-radius: 50%;
}

.task_import {
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  background-color:#FEE09A;
  width:90%;
  height:315px;
  margin : 10px;
  border-radius: 10px;
  overflow: hidden;
}
.task_inner{
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  padding-right: 30px;
}

.task {
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  background-color:#C0C0C0;
  width:90%;
  height:315px;
  margin : 10px;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  margin-left: 20px;
  margin-top: 22px;
  display: inline-block;
  text-align: center;
}

