.add {
  vertical-align: middle;
  text-align: center;
  width:36px;
  height:250px;
  background-color:#FD966B;
  margin-top: 25px;
  border-radius: 7px;
}
.add_icon{
  display: inline-block;
  margin-top: 110px;
}

.task_import {
  display: inline-flex;
  vertical-align: middle;
  justify-content:space-around;
  text-align: center;
  background-color:#FEE09A;
  width:1600px;
  height:304px;
  margin : 10px;
}

.task {
  display: inline-flex;
  vertical-align: middle;
  justify-content:space-around;
  text-align: center;
  background-color:#C0C0C0;
  width:1600px;
  height:304px;
  margin : 10px;
}

.card {
  margin-top: 25px;
  display: inline-block;
  text-align: center;
  background-color:#FEE09A;
}

