.frame1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(225, 225, 225, 1);
}
.group16 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 84px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.navi {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 84px;
  display: flex;
  padding: 40px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame19 {
  top: 555px;
  left: 4px;
  width: 724px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.search {
  top: 0px;
  left: 0px;
  width: 724px;
  display: flex;
  padding: 0 0 0 50px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.searchbar {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 20px;
  justify-content: center;
}
.searchbar1 {
  width: 529.6785278320312px;
  height: 46px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.frame {
  width: 50px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.searchicon {
  width: 20px;
  height: 22px;
  position: relative;
}
.searchbutton {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(62, 62, 62, 1);
}
.text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.tag {
  top: 621px;
  left: 123px;
  width: 50px;
  height: 32px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(232, 234, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: var(--dl-color-default-white);
}
.text04 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Acme;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.tag1 {
  top: 621px;
  left: 180px;
  width: 50px;
  height: 32px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(232, 234, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgba(170, 170, 170, 1);
}
.text06 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Acme;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.tag2 {
  top: 621px;
  left: 67px;
  width: 50px;
  height: 32px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(232, 234, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: var(--dl-color-default-white);
}
.text08 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Acme;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.tag3 {
  top: 621px;
  left: 312px;
  width: 58px;
  height: 32px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(232, 234, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: var(--dl-color-default-white);
}
.text10 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Acme;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.tag4 {
  top: 621px;
  left: 377px;
  width: 50px;
  height: 32px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(232, 234, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgba(170, 170, 170, 1);
}
.text12 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Acme;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.tag5 {
  top: 621px;
  left: 237px;
  width: 68px;
  height: 32px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(232, 234, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: var(--dl-color-default-white);
}
.text14 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Acme;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7 {
  top: 111px;
  left: 32px;
  width: 1410px;
  height: 308px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(254, 224, 138, 1);
}
.empty {
  width: 36px;
  height: 252px;
  display: flex;
  position: relative;
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(253, 150, 107, 1);
}
.text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11 {
  width: 427px;
  height: 252px;
  display: flex;
  padding: 10px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(41, 124, 167, 0.800000011920929);
}
.frameframe {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.frame01 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 270px;
}
.ellipse7 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.30000001192092896px;
  margin-right: 13px;
}
.ellipse8 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
  margin-right: 13px;
}
.ellipse9 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame02 {
  width: 22px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.edit1 {
  width: 22px;
  height: 18px;
  position: relative;
  border-color: transparent;
  margin-right: 10px;
}
.close1 {
  width: 23px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame03 {
  width: 404px;
  height: 70px;
  display: flex;
  padding: 0 10px 0 30px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.frame04 {
  width: 345px;
  height: 70px;
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.frame05 {
  width: 333px;
  display: flex;
  padding: 5px 10px 5px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame06 {
  width: 178px;
  height: 23px;
  display: flex;
  padding: 10px 10px 10px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.text19 {
  color: rgba(255, 255, 255, 1);
  width: 134px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame07 {
  width: 404px;
  height: 69px;
  display: flex;
  padding: 10px 0 10px 5px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.frame08 {
  width: 380px;
  height: 88px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.text21 {
  color: rgba(201, 201, 201, 1);
  width: 393px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame09 {
  width: 91px;
  height: 31px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.fire1 {
  width: 33px;
  height: 37px;
  position: relative;
  border-color: transparent;
  margin-right: 10px;
}
.tag6 {
  height: 32px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(232, 234, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgba(170, 170, 170, 1);
}
.text23 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Acme;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2 {
  width: 427px;
  display: flex;
  padding: 10px;
  position: relative;
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(245, 232, 192, 1);
}
.frameframe1 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.frame10 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 270px;
}
.ellipse71 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.30000001192092896px;
  margin-right: 13px;
}
.ellipse81 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
  margin-right: 13px;
}
.ellipse91 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame11 {
  width: 22px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.edit11 {
  width: 22px;
  height: 18px;
  position: relative;
  border-color: transparent;
  margin-right: 10px;
}
.close11 {
  width: 23px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame12 {
  width: 404px;
  height: 70px;
  display: flex;
  padding: 0 10px 0 30px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.frame13 {
  width: 345px;
  height: 70px;
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.frame14 {
  width: 333px;
  display: flex;
  padding: 5px 10px 5px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.text25 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame15 {
  width: 178px;
  height: 23px;
  display: flex;
  padding: 10px 10px 10px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.text27 {
  color: rgba(120, 120, 120, 1);
  width: 134px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame16 {
  width: 404px;
  height: 69px;
  display: flex;
  padding: 10px 0 10px 5px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.frame17 {
  width: 380px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.text29 {
  color: rgba(0, 0, 0, 1);
  width: 393px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame18 {
  width: 91px;
  height: 31px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.fire11 {
  width: 33px;
  height: 37px;
  position: relative;
  border-color: transparent;
}
.frame3 {
  width: 427px;
  height: 252px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.framecontainer {
  top: 0px;
  left: 0px;
  width: 427px;
  height: 252px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(245, 232, 192, 1);
}
.frameframe2 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.frame19 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 270px;
}
.ellipse72 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.30000001192092896px;
  margin-right: 13px;
}
.ellipse82 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
  margin-right: 13px;
}
.ellipse92 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame20 {
  width: 22px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.edit12 {
  width: 22px;
  height: 18px;
  position: relative;
  border-color: transparent;
  margin-right: 10px;
}
.close12 {
  width: 23px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame21 {
  width: 404px;
  height: 70px;
  display: flex;
  padding: 0 10px 0 30px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.frame22 {
  width: 345px;
  height: 70px;
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.frame23 {
  width: 333px;
  display: flex;
  padding: 5px 10px 5px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.text31 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame24 {
  width: 178px;
  height: 23px;
  display: flex;
  padding: 10px 10px 10px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.text33 {
  color: rgba(120, 120, 120, 1);
  width: 134px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame25 {
  width: 404px;
  height: 69px;
  display: flex;
  padding: 10px 0 10px 5px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.frame26 {
  width: 380px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.text35 {
  color: rgba(0, 0, 0, 1);
  width: 393px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame27 {
  width: 91px;
  height: 31px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.fire12 {
  width: 33px;
  height: 37px;
  position: relative;
  border-color: transparent;
}
.frame21 {
  top: 663px;
  left: 32px;
  width: 1409px;
  height: 339px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(254, 224, 138, 0.10000000149011612);
}
.empty1 {
  width: 36px;
  height: 252px;
  display: flex;
  position: relative;
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(253, 150, 107, 1);
}
.text37 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame12 {
  width: 427px;
  height: 252px;
  display: flex;
  padding: 10px;
  position: relative;
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(41, 124, 167, 0.800000011920929);
}
.frameframe3 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.frame28 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 270px;
}
.ellipse73 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.30000001192092896px;
  margin-right: 13px;
}
.ellipse83 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
  margin-right: 13px;
}
.ellipse93 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame29 {
  width: 22px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.edit13 {
  width: 22px;
  height: 18px;
  position: relative;
  border-color: transparent;
  margin-right: 10px;
}
.close13 {
  width: 23px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame30 {
  width: 404px;
  height: 70px;
  display: flex;
  padding: 0 10px 0 30px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.frame31 {
  width: 345px;
  height: 70px;
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.frame32 {
  width: 333px;
  display: flex;
  padding: 5px 10px 5px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.text38 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame33 {
  width: 178px;
  height: 23px;
  display: flex;
  padding: 10px 10px 10px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.text40 {
  color: rgba(255, 255, 255, 1);
  width: 134px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame34 {
  width: 383px;
  height: 73px;
  display: flex;
  padding: 10px 10px 10px 5px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.frame35 {
  width: 380px;
  height: 63px;
  display: flex;
  padding: 10px 10px 28px 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.text42 {
  color: rgba(0, 0, 0, 1);
  width: 394px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame36 {
  width: 77px;
  height: 21px;
  display: flex;
  padding: 1px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.tag7 {
  height: 32px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(232, 234, 238, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgba(170, 170, 170, 1);
}
.text47 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Acme;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame21 {
  width: 427px;
  height: 252px;
  display: flex;
  padding: 10px;
  position: relative;
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(245, 232, 192, 1);
}
.frameframe4 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.frame37 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 270px;
}
.ellipse74 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.30000001192092896px;
  margin-right: 13px;
}
.ellipse84 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
  margin-right: 13px;
}
.ellipse94 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame38 {
  width: 22px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.edit14 {
  width: 22px;
  height: 18px;
  position: relative;
  border-color: transparent;
  margin-right: 10px;
}
.close14 {
  width: 23px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame39 {
  width: 404px;
  height: 70px;
  display: flex;
  padding: 0 10px 0 30px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.frame40 {
  width: 345px;
  height: 70px;
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.frame41 {
  width: 333px;
  display: flex;
  padding: 5px 10px 5px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.text49 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame42 {
  width: 178px;
  height: 23px;
  display: flex;
  padding: 10px 10px 10px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.text51 {
  color: rgba(120, 120, 120, 1);
  width: 134px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame43 {
  width: 383px;
  height: 77px;
  display: flex;
  padding: 10px 10px 68px 5px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.frame44 {
  width: 380px;
  height: 67px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.text53 {
  color: rgba(0, 0, 0, 1);
  width: 393px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame45 {
  width: 77px;
  height: 21px;
  display: flex;
  padding: 1px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.frame31 {
  width: 427px;
  height: 252px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.framecontainer1 {
  top: 0px;
  left: 0px;
  width: 427px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(12, 36, 38, 0.5);
}
.frameframe5 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.frame46 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 270px;
}
.ellipse75 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0.30000001192092896px;
  margin-right: 13px;
}
.ellipse85 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
  margin-right: 13px;
}
.ellipse95 {
  width: 22px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame47 {
  width: 22px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.edit15 {
  width: 22px;
  height: 18px;
  position: relative;
  border-color: transparent;
  margin-right: 10px;
}
.close15 {
  width: 23px;
  height: 22px;
  position: relative;
  border-color: transparent;
}
.frame48 {
  width: 404px;
  height: 70px;
  display: flex;
  padding: 0 10px 0 30px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
}
.frame49 {
  width: 345px;
  height: 70px;
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.frame50 {
  width: 333px;
  display: flex;
  padding: 5px 10px 5px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.text58 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame51 {
  width: 178px;
  height: 23px;
  display: flex;
  padding: 10px 10px 10px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.text60 {
  color: rgba(255, 255, 255, 1);
  width: 134px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame52 {
  width: 383px;
  height: 77px;
  display: flex;
  padding: 10px 10px 68px 5px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.frame53 {
  width: 380px;
  height: 67px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.text62 {
  color: rgba(0, 0, 0, 1);
  width: 393px;
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: 26px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame54 {
  width: 77px;
  height: 21px;
  display: flex;
  padding: 1px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
